APP_NAME=AppLove
APP_ENV=development
DEBUG=true

DATABASE_URL="postgresql://postgres:1234@localhost:5432/app-love"
             

JWT_SECRET_KEY=CAMBIAR_ESTA_CLAVE
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

CORS_ORIGINS=http://localhost:5173

