# Entorno virtual
venv/
.venv/
env/

# Variables de entorno
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Bases de datos locales
*.sqlite
*.sqlite3

# Archivos temporales
*.tmp
*.temp